<ol>
  <li>
    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://stash.softgarden.de/users/t.wohlrapp/repos/bookmarklets/raw/addOfflineApplication.js';})();">
      Add offline application
    </a>
  </li>
  <li>
    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://stash.softgarden.de/users/t.wohlrapp/repos/bookmarklets/raw/createNewJob.js';})();">
      Create new Job
    </a>
  </li>
  <li>
    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://stash.softgarden.de/users/t.wohlrapp/repos/bookmarklets/raw/filloutApplicationForm.js';})();">
      Fill out application form
    </a>
  </li>
  <li>
    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://stash.softgarden.de/users/t.wohlrapp/repos/bookmarklets/raw/registerNewCompany.js';})();">
      Company Sign Up
    </a>
  </li>
</ol>